# Lokal SQLite (tanpa Docker). Untuk Supabase ganti baris ini dengan pooler URL.
DATABASE_URL="postgresql://postgres.hqdnyhavbsjalmkycene:D51dl7jiWbuYp9b1@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
JWT_SECRET="ganti-dengan-rahasia-panjang-min-32-karakter"
ADMIN_CODE=""
FRONTEND_URL="http://localhost:5173"
PORT="3000"
